@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um Erro";
}

<h1 class="text-danger">@ViewData["Title"]</h1>

@{
    if (Model == null)
    {
        <div>
            <h2 class="text-danger">Aconteceu um erro em nossos servidores, tente novamente mais tarde.</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;
        <div>
            <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
        </div>
    }
}